body {
	font-family: Lobster Two;
	text-align: center;
	margin: 0;
	padding: 0;
	font-size: 10px;
	background-color: #bbbbbb;
}
#main {
	display: block;
	margin: 20px 10px;
	padding: 25px;
	border-radius: 5px;
	justify-content: center;
}

h1{
	font-family: Zen Antique, monospace;
	font-weight: 100;
	margin: 0;
	padding: 10px 0 10px 0;
	font-size: 3rem;
}
h2 {
	font-weight: lighter;
	margin: 0;
	padding: 10px 0 20px 0;
	font-size: 2.5rem;
}
img {
	padding: 10px 0 0 0;
	width: 85vw;
	height: auto;
	max-width: 600px;
	margin: 0 auto;
}
#img-div {
	background-color: whitesmoke;
	margin: auto;
	padding: 10px;
	width: 100%;
	max-width: 620px;
	box-shadow: 0px 0px 15px 3px black;

}
ul {
	text-align: left;
	margin: 0 auto 50px auto;
	font-size: 1.3rem;
	max-width: 550px;
	font-family: Patrick Hand, sans-serif;
	
}
li {
	margin: 15px 0;
}
#img-caption {
	padding: 10px;
	text-align: center;
	font-size: 1.1rem;
	font-family: Roboto,sans-serif;
	color: black;
	text-shadow: 0 3px 3px rgba(255, 0, 0, 0.9);
	animation-name: blink;
	animation-duration: 1s;
}
@keyframes blink {
	0% {
		transform: scale(0.9);
	}
	25% {
		transform: scale(1.1);
	}
	50% {
		transform: scale(0.9);
	}
	75% {
		transform: scale(1.1);
	}

}
#tribute-info {
	text-align: center;

}
#headline {
	margin: 30px 0;
	font-size: 2rem;
}
footer {
	display: block;
	justify-items: center;
	color: white;
	font-size: 1.2rem;
}
#bg-img {
	margin: 20px;
	padding: 0;
	background-color: white;
	display: inline-block;
	background-image: url(./images/srk5.jpg);
	background-position: center;
	background-size: cover;
	width: 85vw;
	height: 350px;
	max-height: 600px;
	max-width: 600px;
	opacity: 0.8;
	border-radius: 75px;
	border: 3px solid rgba(201, 102, 255,1);
	box-shadow: 0 0 5px 3px rgba(255, 0, 0, 0.7);
}
blockquote {
	position: relative;
	top: 230px;
}
p {
	position: relative;
	top: 230px;
}
@media(max-width: 700px){
	#img-caption{
		font-size: 0.9rem;
	}
	#img-div {
	margin: 0 auto;
	padding: 0 auto;
	}
	#main {
		margin: 0;
		padding: 0;
	}
	h1 {
		font-size: 2rem;
	}
	h2 {

		font-size: 1.5rem;
	}
	h3 {
		font-size: 1rem;
	}
	ul {
		font-size: 1rem;
	}
	#headline {
	font-size: 1.3rem;
	}
	footer {
		font-size: 0.85rem;
	}
	blockquote {
	position: relative;
	top: 250px;
	}
	p {
	position: relative;
	top: 265px;
	}	
}

